@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Futura PT Web Cond Bold";
    font-weight: 300;
    src: url("/fonts/Futura-PT-Web-Cond-Bold.ttf") format("truetype"),
      url("/fonts/Futura-PT-Web-Cond-Bold.woff2") format("woff2"),
      url("/fonts/Futura-PT-Web-Cond-Bold.woff") format("woff");
  }
  @font-face {
    font-family: "Futura PT Web Cond Bold";
    font-weight: 400;
    src: url("/fonts/Futura-PT-Web-Cond-Bold.ttf") format("truetype"),
      url("/fonts/Futura-PT-Web-Cond-Bold.woff2") format("woff2"),
      url("/fonts/Futura-PT-Web-Cond-Bold.woff") format("woff");
  }
}

body {
  @apply font-futura font-light;
}
